{{>header}}
<div class="transaction-details">
    <div class="wrapper">
        <div class="description">
            <div class="icon-wrapper">
                <i class="{{transaction.icon}}"></i>
            </div>
            <div class="data">
                <p class="bold">{{transaction.Name}}</p>
                <p>{{transaction.date}}</p>
            </div>
        </div>
        <div class="money">
            {{#if transaction.PaymentCategory}}
                <p class="bold red">-{{transaction.Amount}} {{symbol}}</p>
            {{else}}
                <p class="bold green">+{{transaction.Amount}} {{symbol}}</p>
            {{/if}}
        </div>
    </div>
    <div class="notes">
        {{#if hasNotes}}
            <p>{{transaction.Notes}}</p>
        {{else}}
            <h2 class="center green">No notes</h2>
        {{/if}}
    </div>
    <div class="controls">
        <a {{#if transaction.PaymentCategory}} href="#/transactions/payment/{{transaction.Id}}/edit" {{else}} href="#/transactions/income/{{transaction.Id}}/edit" {{/if}} class="edit"><i class="fas fa-edit"></i> Edit</a>
        <a {{#if transaction.PaymentCategory}} href="#/transactions/payment/{{transaction.Id}}/delete" {{else}} href="#/transactions/income/{{transaction.Id}}/delete" {{/if}} class="delete"><i class="fas fa-trash"></i> Delete</a>
    </div>
</div>
{{>footer}}