<li class="transaction">
    <a {{#if PaymentCategory}} href="#/payments/{{Id}}" {{else}} href="#/incomes/{{id}}" {{/if}}>
        <div class="description">
            <div class="icon-wrapper">
                <i class="{{icon}}"></i>
            </div>
            <div class="data">
                <p class="bold">{{Name}}</p>
                <p>{{date}}</p>
            </div>
        </div>
        <div class="money">
            {{#if PaymentCategory}}
                <p class="bold red">-{{Amount}} {{symbol}}</p>
            {{else}}
                <p class="bold green">+{{Amount}} {{symbol}}</p>
            {{/if}}
        </div>
    </a>
</li>