<h3 class="title">Transactions</h3>
<ul class="transactions">
    <li class="transaction">
    <a href="#/transactions/{{id}}">
        <div class="description">
            <div class="icon-wrapper">
                <i class="fas fa-smile-beam"></i>
            </div>
            <div class="data">
                <p class="bold">Box office</p>
                <p>Nov 29, 2019</p>
            </div>
        </div>
        <div class="money">
            <p class="bold">- 40 $</p>
        </div>
    </a>
    </li>
    <li class="transaction">
    <a href="#/transactions/{{id}}">
        <div class="description">
            <div class="icon-wrapper">
                <i class="fas fa-smile-beam"></i>
            </div>
            <div class="data">
                <p class="bold">Box office</p>
                <p>Nov 29, 2019</p>
            </div>
        </div>
        <div class="money">
            <p class="bold">- 40 $</p>
        </div>
    </a>
    </li>
    <li class="transaction">
    <a href="#/transactions/{{id}}">
        <div class="description">
            <div class="icon-wrapper">
                <i class="fas fa-smile-beam"></i>
            </div>
            <div class="data">
                <p class="bold">Box office</p>
                <p>Nov 29, 2019</p>
            </div>
        </div>
        <div class="money">
            <p class="bold">- 40 $</p>
        </div>
    </a>
    </li>
    <li class="transaction">
    <a href="#/transactions/{{id}}">
        <div class="description">
            <div class="icon-wrapper">
                <i class="fas fa-smile-beam"></i>
            </div>
            <div class="data">
                <p class="bold">Box office</p>
                <p>Nov 29, 2019</p>
            </div>
        </div>
        <div class="money">
            <p class="bold">- 40 $</p>
        </div>
    </a>
    </li>
    <li class="transaction">
    <a href="#/transactions/{{id}}">
        <div class="description">
            <div class="icon-wrapper">
                <i class="fas fa-smile-beam"></i>
            </div>
            <div class="data">
                <p class="bold">Box office</p>
                <p>Nov 29, 2019</p>
            </div>
        </div>
        <div class="money">
            <p class="bold">- 40 $</p>
        </div>
    </a>
    </li>
</ul>